<!DOCTYPE html>cadastrar empresa
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastrar_empresa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <style>
    </style>
</head>
<body>
<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Cadastre-se sua Empresa aqui
    </p>
    <p class="subtitle">
      Preencha as lacunas
    </p>


    <form action="/registrando_empresa" method="post">
        <input type="text" placeholder="digite seu nome" name="nome" id="nome">
                <br><br>
        <input type="text" placeholder="digite seu email" name="email" id="email">
                <br><br>
        <input type="text" placeholder="digite seu token" name="token" id="token">
        <a onclick="gerar_token();" href="#">Gerar meu token</a>
                <br><br>
        <input type="number" placeholder="digite sua quantos creditos deseja comecar" name="creditos" id="creditos">
        <a onclick="comprar_creditos();" href="#">comprar creditos +10</a>
                <br><br>
        <input type="submit" value="enviar"/>
    </form>
</div>
</section>
</body>
<script >
    function gerar_token() {
        document.getElementById("token").value = makeid(10);

    }
    function makeid(length) {
        var result           = '';
        var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
            return result;
    }
    function comprar_creditos(){
        document.getElementById("creditos").value = 10 + parseInt(document.getElementById("creditos").value);
    }

</script>
</html>