<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tabela de Usuarios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <style>
        td, th {
  border: 2px solid #000000;
  text-align: center;
  padding: 8px;
}
    </style>
</head>
<body>
<section class="hero is-warning">
  <div class="hero-body">
    <p class="title">
       Tabela de Super Usuario
    </p>

<form action="/criador_de_usuario">
    <input class="button is-link" type="submit" value="criar"/>
</form>
<table>
    <thead>
    <tr>
        <th>
            id do usuario
        </th>
        <th>
            Email
        </th>
    </tr>
    </thead>
    {% for usuario in data %}
    <tr>
        <td>
            {{ usuario.id }}
        </td>
        <td>
            {{ usuario.email }}
        </td>
        <td>
            <form action="/editar_usuario/{{ usuario.id }}">
                <input class="button is-link" type="submit" value="editar"/>
            </form>
        </td>
        <td>
            <form action="/deletar_usuario/{{ usuario.id }}">
                <input class="button is-link" type="submit" value="excluir"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="/">
    Retornar guia
</a>
      </div>
</section>
</body>
</html>