<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Empresas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <style>
</style>
</head>
<body>
<section class="hero is-info">
  <div class="hero-body">
<h2>Se cadastre-se</h2>
<br>

<a href="/cadastrar_empresa"><button>Cadastrar</button></a>
                        <br><br>

      <h2>Consulte o nome da pessoa usando seu telefone</h2>

<a href="/api/consult_by_screen"><button>Consultar api</button></a>
</div>
</section>
</body>
</html>