<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <style>
    </style>
</head>

<body>
<nav class="navbar has-shadow is-white is-link">
    <div class="navbar-brand">
        <a href="{{ url_for('home') }}" class="navbar-item">
            <img src="https://cdn.discordapp.com/attachments/644351049175531530/831694890416734278/nowalls_icon.png"
                 alt="site logo" style="max-height:70px">
        </a>
        <a class="navbar-burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>

    <div class="navbar-menu" id="nav-links">
        <div class="navbar-end">
            <a href="{{ url_for('home') }}" class="navbar-item">
                Home
            </a> <br>
            <a href="{{ url_for('cadastrar_pessoa') }}" class="navbar-item">
                Cadastrar Pessoa publica
            </a><br>
            <a href="{{ url_for('login_usuario') }}" class="navbar-item">
                Login de Usuario
            </a><br>
            <a href="{{ url_for('empresa') }}" class="navbar-item">
                Empresa
            </a>
        </div>
    </div>
</nav>
<section class="section hero is-link">
    <div>
        <h1 class="is-size-1 has-text-centered title">Consulte já!</h1>
    </div>
</section>
<section class="section hero is-link">
    <div>
        <h1 class="title is-size-3 has-text-centered">Para que serve o site e o que ele faz?</h1>
        <div class="content">
            <p class="subtitle">Nosso site se da de uma ideia para aumentar a eficiencia e a facilidade das pessoas e de
                empresas de telefonia
                assim fazendo com que as pessoas não sofram ligações inoportunas e as empresas terão maior controle com
                seus números reciclados e etc.</p>
        </div>
    </div>
</section>
<section class="section hero is-link ">
    <div class="hero-body">
        <div class="message-header is-info">
            <h1 class="title is-5">Olá se deseja saber como usar nosso site leia abaixo.</h1>
        </div>
        <br>
        <article class="message">
            <div class="message-header">
                <p>Como cadastrar seu número</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                Caso você seja um cliente das operadoras voce deve cadastrar seu numero
                para que a operadora possa utillizar como modo de te atualizar e ser mais eficiente ao contatá-lo.
                <ul>
                    <li>1- Vá em Cadastrar Pessoa pública.</li>
                    <li>2- Preencha as informações.</li>
                    <li>3- Pronto! As operadoras podem usar seus dados como forma de melhorar seu serviço.</li>
                </ul>
            </div>
        </article>
        <article class="message">
            <div class="message-header">
                <p>Como cadastrar sua empresa</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                Caso você seja uma empresa de telefonia voce pode se cadastrar para obter dados dos seus
                clientes e sempre se manter atualizada dos seus numeros e dados relevantes dos seus clientes.
                <ol>
                    <li>Vá na aba "Empresa".</li>
                    <li>Selecione cadastrar</li>
                    <li>Preencha as informações para cadastrar sua empresa e clique em enviar.</li>
                </ol>
            </div>
        </article>
        <article class="message">
            <div class="message-header">
                <p>Consultar o responsável pelo número</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                Essa área e responsável por consultar usando o meio do telefone como modo de recolher outras informações
                sobre o responsável do número.
                <ol>
                    <li>Vá na aba "Empresa".</li>
                    <li>Selecione consultar api</li>
                    <li>Preencha as informações no campo pago para receber as informações do responsável
                        do número ou utilize a função gratuita porém as informações virão incompletas.
                    </li>
                </ol>
            </div>
        </article>
    </div>
</section>
</body>
</html>