<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>

<body>
            <nav class="navbar">
                            <a href="{{ url_for('home') }}" class="navbar-item">
                                Home
                            </a> <br>
                            <a href="{{ url_for('pessoa') }}" class="navbar-item">
                                Pessoa publica
                            </a><br>
                            <a href="{{ url_for('login_usuario') }}" class="navbar-item">
                                Login de Usuario
                            </a><br>
                            <a href="{{ url_for('empresa') }}" class="navbar-item">
                                Empresa
                            </a>
            </nav>
</body>

</html>