<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login de Super usuario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <style>
    </style>
</head>
<body>
<section class="hero is-danger">
    <div class="hero-body">
        <p class="title">
            Super usuario
        </p>
        <p class="subtitle">
            Faça seu Login abaixo
        </p>
        <form action="/login" method="post">
            <input type="email" placeholder="digite seu email" name="email" id="email">
            <br><br>
            <input type="password" placeholder="digite sua senha" name="senha" id="senha">
            <br><br>
            <input type="submit" value="login"/>
        </form>
            <br>
            <br>
        <a href="/esqueci_senha">Esqueci senha</a>
            <br>
        <a href="/">
            Voltar para a Home
        </a>
    </div>
</section>

</body>
</html>