<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login de Super usuario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <style>
    </style>
</head>
<body>
<nav class="navbar has-shadow is-white is-link">
    <div class="navbar-brand">
        <a href="{{ url_for('home') }}" class="navbar-item">
            <img src="https://cdn.discordapp.com/attachments/644351049175531530/831694890416734278/nowalls_icon.png"
                 alt="site logo" style="max-height:70px">
        </a>
    </div>
    <div class="navbar-menu" id="navbar-links">
        <div class="navbar-end">
            <a href="{{ url_for('home') }}" class="navbar-item">
                Home
            </a> <br>
            <a href="{{ url_for('cadastrar_pessoa') }}" class="navbar-item">
                Cadastrar Pessoa publica
            </a><br>
            <a href="{{ url_for('login_usuario') }}" class="navbar-item">
                Login de Usuario
            </a><br>
            <a href="{{ url_for('empresa') }}" class="navbar-item">
                Empresa
            </a>
        </div>
    </div>
</nav>

<section class="hero is-link">
    <div class="hero-body">
        <p class="title">
            Super usuario
        </p>
        <p class="subtitle">
            Faça seu Login abaixo (apenas administradores)
        </p>
        <form action="/login" method="post">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email" name="email" id="email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <br>
            <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password" name="senha" id="senha">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
            </div>
            <br>
            <div class="field is-grouped">
                <div class="control">
                    <input class="button is-info is-rounded is-medium" type="submit" value="Login"/>
                </div>
            </div>
        </form>
        <br>
        <a href="/esqueci_senha">Esqueci senha</a>
        <br>
    </div>
</section>

</body>
</html>