
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pessoa publica</title>
    <style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.Entrar {background-color: #4CAF50;} /* Green */
.Cadastrar {background-color: #008CBA;} /* Blue */
</style>
</head>
<body>

<h2>Entrar ou Se cadastrar</h2>
<br>
<a href="/entrar_pessoa"><button class="button Entrar">Entrar</button></a>

<a href="/cadastrar_pessoa"><button class="button Cadastrar">Cadastrar</button></a>

</body>
</html>